.corpo{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.imagemLateral{
    width: 12%;
    height: 530px;
    background: none;
}

.meio{
    width: 72%;
    background: blue;
}