@media screen and (min-width: 1367px) {
    .menu{
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(-90deg, rgb(185, 185, 185), rgb(120, 120, 121));
        font-family:cursive;
        
    }

    .imagem img{
        width: 20%;
        margin-top: 1%;
    }

    .editMenuH2{
        width: 2%;
        padding: 1.2em;
      margin-bottom: 3em;
        text-decoration: none;
        color: #d15252;
        padding: 1.3em;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .loginMenu{
        width: 16em;
        margin-top: 1.30%;
    }

}

@media screen and (max-width: 1367px) {
    
    .menu{
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(-90deg, rgb(185, 185, 185), rgb(120, 120, 121));
        font-family:cursive;
    }

    .imagem img{
        width: 40%;
        margin-top: 2.1%;
    }





    .editMenuH1{
        margin-left: 40px;
        text-decoration: none;
        color: #e4e4e4;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px #888484;

        
    }
    .editMenuH2{
        margin-left: 20px;
        text-decoration: none;
        color: #e4e4e4;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px #888484;

    }
    .link{
        display: flex;
        width: 90%;
        margin-top: 2.1%;
        padding: 0px ;
        
    }

    .loginMenu{
        display: flex;
        width: 25%;
        margin-top: 2.1%;
    }

}