.menu{
    display: flex;
    justify-content: space-between;
    background: #797272;
    font-family:cursive;
}

.imagem{
    display: flex;
    width: 15%;
}

.imagem img{
    width: 90%;
}

.editMenuH1{
    margin-left: 20px;
    text-decoration: none;
    color: #e4e4e4;

    
}
.editMenuH2{
    margin-left: 20px;
    text-decoration: none;
    color: #e4e4e4;

}
.link{
    display: flex;
    width: 40%;
    margin-top: 1.30%;
}

.login{
    display: flex;
    width: 15%;
    margin-top: 1.30%;
}