.logoMenuAL{
    width: 130px
}

.sla{
    background: #201b2c;
}

.editMenuH1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00ff88;
}
.editMenuH2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00ff88;
}

.testes01{
    color: #00ff88;
    outline: #01ce6e;
    border: 3px solid #00ff88;
    width: 50px;
}
