@import '../Styles/mixins.scss';

// Color
$GreenColor: #00ff88 ;
$GreenDarkColor:#017244;
$NavyBlueColor: #4ed8c6;
$RedColor: #CA0000 ;
$PinkColor: #e91899;
$BackgroundBlack: #201b2c ;
$BackgroundDarkBlue: #28285c ;
$BackgroundDarkBlueGradient:#2c2c75;
$WhiteColor: #cfcfe8 ;

//Fonts

$h2FontSize: 2em ;