.corpo{
    margin-top: 10px;
    width: 100%;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
}

.imagemLateral{
    width: 12%;
    height: 530px;
    background: none;
    
}

.meio{
    width: 72%; 
    display: flex;
    justify-content: space-around;

    text-align: center;
}


.caixa01{
    width: 45%;
    border: 2px yellowgreen solid;
    background-color: #2b2b2b;
}

.caixa02{
    width: 45%;
    border: 2px yellow solid;
    background-color: #2b2b2b;
}
