

/* Geral Conta*/


.criar-conta{
    color: #f0ffffde;
    cursor: default;
}

.logar-conta{
    color: #f0ffffde;
    cursor: default;
}

.criar-conta-a{
    color: #00ff88;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}
.criar-conta-a:hover{
    color: #01ce6e;
}

.invisivel{
    display: none;
}

#imgCadastroCima{
    display: none;
}

.icon-voltar{
    cursor: pointer;
}

.link-icon{
    text-decoration: none;
    color: #00ff88;
}

.link-icon:hover{
    color: #01ce6e;
}


@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }

    .card-cadastro{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    /* Media CSS Login*/
    .main-login{
        height: auto;
        padding-bottom: 30%;
    }

    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 25vh;
    }

    .card-login{
        width: 90%;
    }

    /* Media CSS Cadastro */
    .main-cadastro{
        height: auto;
        padding-bottom: 30%;
    }

    .main-cadastro{
        flex-direction: column;
    }

    .rigth-cadastro > h1{
        display: none;
    }

    .right-cadastro{
        width: 100%;
        height: auto;
    }

    .left-cadastro{
        width: 100%;
        height: auto;
    }

    .right-cadas-image{
        width: 25vh;
    }

    .card-cadastro{
        width: 90%;
    }

    #imgCadastroCima{
        display: block;
    }

    #imgCadastroBaixo{
        display: none;
    }

}