.container {
    position: fixed;
    margin-top: 10px;
    left: 1100px;
}

.btn-newPost button{
    font-size: 1.2rem;
    font-family: Heebo;
    font-weight: 700;

    background-color: #447CE2;
    border: 0;

    color: #fff;

    padding: 10px 20px;
    border-radius: 10px;

    cursor: pointer;
}

.btn-newPost button:hover {
    transition: 0.2s;
    background-color: #538af0;
}