@import "../Variables/Variables.scss";
@use '../Styles/mixins.scss';

@mixin BorderRadiusCaixa{
    border-radius:2.5em 2.5em  0em 0em ;
}
@mixin BorderRadiusPreco{
    border-radius: 0em 0em 2.5em 2.5em;
}
@mixin botaoPreco{
    
    margin-top: 20px;
    margin-bottom:15px;
    font-size: 2vw;
    border-radius: 35px;
    border: none;
    padding: 1% 5% 1% 5%;
    color: #e9e9e9;
    cursor: pointer;
    text-shadow: 2px 2px #92929248;
    box-shadow: 4px 4px #e9e9e9;
   
}
@mixin widthImagemASS{
    width: 60%;
  

}
@mixin effectImgASS{
  
    width: 62%; 
    transition: .5s; 
}
@mixin HoverBotaoPreco{
    transition: 0.15s;
    border: none; 
    transition: 0.25s; 
}
@mixin MeioGrid{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 40vh 47.50vh 10vh;
    grid-template-areas:   
                            "c1  c3 c2"
                           "preco1 preco3 preco2"
                               ;
    text-align: center;
    padding: 3% 6%;
    margin:10% ;
}

.corpoAssinatura{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    b{ font-size: 1.5vw;  }
    h2{  font-size: 2.5vw;  }
    ul{ font-size: 1.75vw;  padding-left: 10%;  margin: 5% 0% 0% 1%;  }
    li{  text-align: start;  font-size: 1.25vw;  }
    p {font-size: 1.3vw;}
}


.imgCG{
    @include widthImagemASS();
&:hover{
    @include effectImgASS();
}
}


.meio{
    @include MeioGrid();
    button{@include botaoPreco(); @include HoverBotaoPreco();}

            &-caixa1{
                color: #cdd3d3;
                background-color: #255b60;
                grid-area: c1 ;
                @include BorderRadiusCaixa();
            }

                    &-caixa2{
                        color: #adafb2 ;
                        background-color: #2b3541 ;
                        grid-area: c2 ;
                        @include BorderRadiusCaixa();
                    }

                            &-caixa3{
                                color: #994a00 ;
                                background-color: #FAEBD7;
                                grid-area: c3 ;
                                @include BorderRadiusCaixa();
                            }

            &-preco1{
                text-shadow: 1px 1px #131313b2;
                color:#cccccc ;
                background-color: #1f5055;
                grid-area: preco1 ;
                    @include BorderRadiusPreco();
                    button{ background-color: #977044;
                            &:hover { background: #875835;  }
                        }
            }

                    &-preco2{
                        color:#cccccc ;
                        text-shadow: 1px 1px #131313b2;
                        background-color: #222a35;
                        grid-area: preco2 ;
                        @include BorderRadiusPreco();
                            button{ background-color: #adafb2;
                                    &:hover{  background: #828487;  }
                                }
                    }

                            &-preco3{
                                text-shadow: 0.5px 0.5px #994a00;
                                color: #cccccc ;
                                background-color: #ebdbc7;
                                grid-area: preco3 ;
                                li,b{     color: #994a00; }
                                p{ color: black }
                                @include BorderRadiusPreco();
                                    button{  background-color: #ebbf31;
                                            &:hover{  background: #cc9d2a;   }
                                        }

                            }
}


    @media only screen and (max-width:450px){
        .imgCG{
            @include widthImagemASS();
           
        }
        .imgCG:hover{
            
            @include effectImgASS();
        }

        .corpoAssinatura{
            b{ font-size: 6.5vw;   }
            h2{  font-size: 7.5vw; }
            ul{ font-size: 4vw;   margin: 0 auto;   }
            li{  width: 80%;  margin: 0% 0% 7.5px; font-size: 3.5vw;  }
            p {font-size: 5.3vw;}
        }
        
    
    
    
        
    .meio{
        display: grid;
        grid-template-columns: 3fr 3fr ;
        grid-template-rows: 63vw 90vw 63vw 90vw 63vw 90vw;
        grid-template-areas:   "c1  c1"
                                "preco1 preco1"
                                "c2 c2"
                                "preco2 preco2"
                                "c3 c3"
                                "preco3 preco3" ;
        text-align: center;
        padding: 3% 5%;
        margin:8% ;

      
        button{@include botaoPreco();
            font-size: 8vw;
             @include HoverBotaoPreco();}
           
                &-caixa1{
                    color: #cdd3d3;
                    background-color: #255b60;
                    grid-area: c1 ;
                    @include BorderRadiusCaixa();
                }
    
                        &-caixa2{
                            color: #adafb2 ;
                            background-color: #2b3541 ;
                            grid-area: c2 ;
                            @include BorderRadiusCaixa();
                        }
    
                                &-caixa3{
                                    color: #994a00 ;
                                    background-color: #FAEBD7;
                                    grid-area: c3 ;
                                    @include BorderRadiusCaixa();
                                }
    
                &-preco1{
                    text-shadow: 1px 1px #131313b2;
                    color:#cccccc ;
                    background-color: #1f5055;
                    grid-area: preco1 ;
                        @include BorderRadiusPreco();
                        button{ background-color: #977044;
                           
                                &:hover { background: #875835;  }
                            }
                }
    
                        &-preco2{
                            color:#cccccc ;
                            text-shadow: 1px 1px #131313b2;
                            background-color: #222a35;
                            grid-area: preco2 ;
                            @include BorderRadiusPreco();
                                button{ background-color: #adafb2;
                                        &:hover{  background: #828487;  }
                                    }
                        }
    
                                &-preco3{
                                    text-shadow: 1px 1px #131313b2;
                                    color: #cccccc ;
                                    background-color: #ebdbc7;
                                    grid-area: preco3 ;
                                    li,b{     color: #994a00; }
                                    p{ color: black }
                                    @include BorderRadiusPreco();
                                        button{  background-color: #ebbf31;
                                                &:hover{  background: #cc9d2a;   }
                                            }
    
                                }
    }
    
}


