.body {
  font-family: sans-serif;
  margin-top: -93px;
}

.formularioteste {
  width: 100%;
}

.body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* CSS Login*/
.main-login {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-login h1 {
  font-size: 3vw;
  color: #2f2841;
  cursor: default;
}

.left-login a {
  font-size: 4.25vw;
  background-color: #00ff88;
  border-radius: 2%;
}

.left-login-image {
  width: 25vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-login {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 40px #00000056;
          box-shadow: 0px 10px 40px #00000056;
}

.card-login > h2 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
  cursor: default;
}

.textfield {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  -webkit-box-shadow: 0px 10px 40px #00000056;
          box-shadow: 0px 10px 40px #00000056;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::-webkit-input-placeholder {
  color: #f0ffff94;
}

.textfield > input:-ms-input-placeholder {
  color: #f0ffff94;
}

.textfield > input::-ms-input-placeholder {
  color: #f0ffff94;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 40px -12px #00ff8052;
          box-shadow: 0px 10px 40px -12px #00ff8052;
}

/* CSS Cadastro*/
.main-cadastro {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-cadastro {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-cadastro h1 {
  font-size: 3vw;
  color: #2f2841;
  cursor: default;
}

.right-cadastro a {
  font-size: 4.25vw;
  background-color: #00ff88;
  border-radius: 2%;
}

.right-cadastro-image {
  width: 25vw;
}

.left-cadastro {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-cadastro {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 40px #00000056;
          box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro > h2 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
  cursor: default;
}

.textfield {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  -webkit-box-shadow: 0px 10px 40px #00000056;
          box-shadow: 0px 10px 40px #00000056;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::-webkit-input-placeholder {
  color: #f0ffff94;
}

.textfield > input:-ms-input-placeholder {
  color: #f0ffff94;
}

.textfield > input::-ms-input-placeholder {
  color: #f0ffff94;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-cadastro {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 40px -12px #00ff8052;
          box-shadow: 0px 10px 40px -12px #00ff8052;
}

/* Geral Conta*/
.criar-conta {
  color: #f0ffffde;
  cursor: default;
}

.logar-conta {
  color: #f0ffffde;
  cursor: default;
}

.criar-conta-a {
  color: #00ff88;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.criar-conta-a:hover {
  color: #01ce6e;
}

.invisivel {
  display: none;
}

#imgCadastroCima {
  display: none;
}

.icon-voltar {
  cursor: pointer;
}

.link-icon {
  text-decoration: none;
  color: #00ff88;
}

.link-icon:hover {
  color: #01ce6e;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
  .card-cadastro {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  /* Media CSS Login*/
  .main-login {
    height: auto;
    padding-bottom: 30%;
  }
  .main-login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 25vh;
  }
  .card-login {
    width: 90%;
  }
  /* Media CSS Cadastro */
  .main-cadastro {
    height: auto;
    padding-bottom: 30%;
  }
  .main-cadastro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rigth-cadastro > h1 {
    display: none;
  }
  .right-cadastro {
    width: 100%;
    height: auto;
  }
  .left-cadastro {
    width: 100%;
    height: auto;
  }
  .right-cadas-image {
    width: 25vh;
  }
  .card-cadastro {
    width: 90%;
  }
  #imgCadastroCima {
    display: block;
  }
  #imgCadastroBaixo {
    display: none;
  }
}
/*# sourceMappingURL=Cadastro.css.map */