@import "../Variables/Variables.scss";
@import '../Styles/mixins.scss';

@mixin container{
  
    padding: 1.5rem 3rem;
    margin: 0 auto;
  }
  @mixin flex-center{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
  }

    @mixin botaoStyleHome {
    letter-spacing: 1px;
      padding: 1.5rem 2em 1.5rem 2em;
      font-size: 2rem;
      border: none;
      border-radius: 20px ;
      color: $BackgroundDarkBlue;
          &:hover{
          background-color:  $BackgroundDarkBlue;
          color: #dfdfee;
          transition: 1.35s; 
          transition: 0.45s; 
          box-shadow: 2px 2px 5px #dfdfdf;
          }
    }
.conexao{
    @include container();
        h2{
        font-size: 2rem;
        }
    &-form{
    @include flex-center();
      margin-top: 5%;
   

      input{
        margin-bottom: 0.5%;
        padding-right: 4rem;
        text-align: start;
            }
      button{
          @include botaoStyleHome();
      }
    }


}
