@import "../Variables/Variables.scss";
@import '../Styles/mixins.scss';

// Mixins

@mixin bFaq{
    font-size: 1.0em;
    color: #000000;
    text-shadow: 0.3px 0.3px black;
    padding-left: 3em;
}
@mixin h2Faq{
    font-size: 2.0em;
    padding-left: 1em;
}
@mixin ulFaq{
    font-size: 2.5vw;
    padding-left: 25%;
    margin: 5% 0% 0% 1%;
}
@mixin liFaq{
    text-align: start;
}
@mixin pfaq{
    font-size: 1.0em;
    color: #242424;
   text-shadow: 0.3px 0.3px  #b3b3b3;
   padding-left: 0.75em;

}
// ------------------------------------------------------------

// Corpo incluindo os Mixins
.corpoAssinaturaFAQ{

p { @include pfaq(); }
li {@include liFaq();}
ul {@include ulFaq();}
h2 {@include h2Faq();}
b {@include bFaq();}
}
// ----------------------------------------------

// Estrutura incluindo os grids e suas abas.
.meiofaq{
    
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 80vh 100vh 60vh 40vh;
    grid-template-areas:    "c1 c1"
                            "c2   c2 "
                            "inf inf "
                               ;
    text-align:start;
    
    &-plano{
            color: #1d1d1d;
            grid-area: c1 ;
     }
    &-contato{
            color: #e2850b ;
            background-color: #e0dada;
            grid-area: c2 ;
    }
    &-gerais{
            color: #ffffff;
            background-color: #2d2e2d;
            grid-area: inf ;
    }
}

@media only screen and (max-width:400px){
    .corpoAssinaturaFAQ{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .corpoAssinaturaFAQ b{
        font-size: 4vw;
        color: #000000;
        text-shadow: 0.3px 0.3px black;
        padding-left: 3em;
       
    }
    .corpoAssinaturaFAQ h2{
        font-size: 10vw;
        padding-left: 1em;
        
    }
    .corpoAssinaturaFAQ ul{
        font-size: 5vw;
        padding-left: 5%;
        margin: 5% 0% 0% 1%;
        
    }
    .corpoAssinaturaFAQ li{
        text-align: start;
        
    }
    .corpoAssinaturaFAQ p{
        font-size: 4vw;
        color: #242424;
       text-shadow: 0.3px 0.3px  #b3b3b3;
       padding-left: 0.75em;
    }
    .meioFAQ{
        
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 80vh 100vh 60vh 40vh;
        grid-template-areas:    "c1 c1"
                                "c2   c2 "
                                "inf inf "
                               
                                   ;
        text-align:start;
    }
    .FAQ1{
        
       color: #1d1d1d;
       background-color: #bebebe;
        grid-area: c1 ;
    }
    .FAQ2{
        color: #e2850b ;
        background-color: #e0dada;
        grid-area: c2 ;
    }
    .FAQ3{
        color: #cdd3d3;
        background-color: #f00606;
        grid-area: inf ;
    }
}
