@import "../Variables/Variables.scss";
@import '../Styles/mixins.scss';


@mixin m280{
  @media(max-width: 280px){
    @content

   }

  }

  

.geral{
  padding: 0% 0%;
  
}
.header{
min-height: 100vh;
width: 100%;
background-image: linear-gradient( #75276f75, rgba(21, 36, 121, 0.849)), url(../img/banner.jpg);
background-position: center;
background-size: cover;
position: relative;
  &-text-box{
    width: 90%;
    color:$WhiteColor;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
      h1  { font-size: 4rem;}
      t {color:$GreenColor;}
      p { margin: 10px 0 40px; font-size: 1rem; color: $WhiteColor; }
        &-botao{
          text-decoration: none;
          display: inline-block;
          color:$WhiteColor;
          border: 1px solid $WhiteColor;
          font-size: 1rem;
          padding: 12px 34px;
          background: transparent;
          position: relative;
          cursor: pointer;
            &:hover{
              border: 1px solid $PinkColor;
              background-color: $PinkColor ;
              transition: 1s;
              color: $WhiteColor;
            }
        }
       
  }
  @media (max-width: 700px){
    &-text-box{
      h1{font-size: 1.2rem}
      h2{font-size: 1.2rem}
    }
  }
}
// Cores dos Planos na HOME por ID
#premiun-row{  background-color: #ebbf31;}
#padrao-row{  background-color: #adafb2;}
#basico-row{ background-color: #99571a;}
.plans{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
    h1{ font-size: 2rem; font-weight: 600; }
    p { font-size: 1rem; font-weight: 300;
       line-height: 22px; padding: 10px;}
       &-row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        &-plans-col{
          flex-basis: 31%;
          background: #fff3f3;
          border-radius: 10px;
          margin-bottom: 5%;
          padding: 20px 12px;
          box-sizing: border-box;
          transition: 0.5s;
          &:hover{
            box-shadow: 0 0 20px 0px rgba(54, 54, 165, 0.308);
          }
          h3{
            text-align: center;
            font-weight: 600;
            margin: 10px 0;
          }
        }
       }
       @media (max-width: 700px) {
        &-row{
          flex-direction: column;
             }
         }
    }
// COMUNIDADE BANNER
    .cta{
      margin: 100px auto;
      width: 80%;
      background-image: linear-gradient( #75276f75, rgba(21, 36, 121, 0.849)), url(../img/comunidade.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      text-align: center;
      padding: 100px 0;
      h1{ color:$WhiteColor; margin-bottom: 40px; padding: 0; }
      a{
        @include botaoHomePage();
        padding: 15px 50px;
      }
      @media (max-width:700px) {
        h1{  font-size: 1.5rem; }
      }
    }



.caixaimagem{
  background-image: radial-gradient(circle, #260b57, $BackgroundDarkBlue);
  
  @include container();
  @include flex-center();
  width: 100%;
@include mobile(){
  
  .carousel{
    width: 100%;
  filter: grayscale(0%);
  filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
  border-radius: 10px
}
}
    &-carousel{
      width: 75%;
    filter: grayscale(0%);
    filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
    border-radius: 10px
    }
  }
.textoprincipaiscategorias{
  text-align: center;
  font-weight: 600;
  padding-top: 100px;
  font-size: 2rem;
}
  
.gallery{
  padding-top: 100px;
  
  h2{ font-size: 1.5rem; font-weight: 600; }
  @include flex-center();
  text-align: center;

  margin: 0 auto;
  width: 70%;
  @include mobile(){ flex-direction: column;   ;} 
  flex-wrap: wrap;
  justify-content:space-around;
  filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.11));
   &-card{
    width: 30%;
    background-position-x: center;
    margin-bottom: 5%;
    @include mobile(){
      flex-direction: column;
      width: 100%;
      background-position-x: center;
      height: 200px;
     
      text-align: center;
      margin-bottom: 1px;
    }
    // só pra 280 px -- galaxy fold
    @include m280(){
      flex-direction: column;
      width: 180%;
      background-position-x: 20px;
      height: 120px;
      text-align:start;
      margin-bottom: 1px;
    }
    ///////////////////
        &-title{
      
          color: #1c1729;
          font-size: 2rem;
          font-weight: 300 ;
          margin-bottom: 12.5rem;

         
          @include mobile(){
            margin-bottom: 10rem;
            font-size: 1.5rem;
          }
          }
    &-btn{
        text-decoration: none;
        padding: .6rem 2rem ;
        border: 2px solid $BackgroundBlack ;
        color:$BackgroundBlack ;
   
        text-transform: uppercase;
        letter-spacing: 2px;
       @include mobile(){ display: none; }
       &:hover{
        background-color: $BackgroundDarkBlue;
        color: #e00cb2;
        transition: 0.5s; 
       }
       
    
      }
      #a{
        color: red
      }
  &#card-01{
    @include bg-img("carddesign.png");
  }
  &#card-02{
    @include bg-img("cardprogramacao.png");
  }
  &#card-03{
    @include bg-img("cardfinancas.png");
  }
  &#card-04{
    @include bg-img("cardmarketing.png");
  }
  &#card-05{
    @include bg-img("cardfotografia.png");
  }
  &#card-06{
    @include bg-img("cardmusica.png");
  }

    }
}

@media(max-width: 425px){
  // width para imagem do carousel no mobile
  .caixaimagem{
      &-carousel{
        width: 95%;
      }
    }

    .h2principaiscategorias{
      padding: 2rem 0.5rem;
      font-size: 2rem;
      
      }
}
