@import "../Variables/Variables.scss";
@import '../Styles/mixins.scss';


@mixin m280{
  @media(max-width: 280px){
    @content

   }

  }

.geral{
  padding: 0% 0%;
  &-promocao{
    background-color: $BackgroundBlack;
  color: $GreenColor;

    p{
      text-align: center;
      margin: 0 auto;
    }
  }
  &-linkpromocao{
    color: $GreenColor;  
    text-decoration: none;
    &:visited{
        color: $GreenColor; 
    }
    &:hover{
        color: #169b5d;  
      transition: .3s;
      padding-left: 5%;
    }
  }
}

h2
{
    font-size: 2rem;
}
.caixaimagem{
  background-image: radial-gradient(circle, #75276f, $BackgroundDarkBlue);
  
  @include container();
  @include flex-center();
  width: 100%;
@include mobile(){
  
  .carousel{
    width: 100%;
  filter: grayscale(0%);
  filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
  border-radius: 10px
}
}
    &-carousel{
      width: 75%;
    filter: grayscale(0%);
    filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
    border-radius: 10px
    }
  }
.inicio{
@include container();
@include mobile(){
  height: 21rem;
}
height: 35rem;
background-image: radial-gradient(circle, #2d2d86, $BackgroundDarkBlue);
    &-p{
        padding: 5%;
        margin: 0 auto;
        color: $BackgroundDarkBlue;
          h2{
            color:$GreenColor;
            margin-bottom: 5%;
            @include mobile(){
             font-size: 1.1rem; 
            }
          }
                button{
                  @include botaoStyleHome();
                  background-color: #cfcfe8;
                  @include mobile(){
                 display:none;    
             }
                }
  
        }
     }
         

.inicio-botao{

display: flex;
justify-content: space-around;

}
.branco{
  background-color: $WhiteColor;
  padding: 40px;
}

.h2principaiscategorias{
padding: 2%;

}
.gallery{
  
  @include flex-center();
  @include containerpadding();
  @include mobile(){
    flex-direction: column;
  @include containermobile();
  }
  flex-wrap: wrap;
  justify-content:space-around;
  filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.11));
   &-card{
    
    width: 31%;
    height: 400px;
    margin-bottom: 5%;
    @include mobile(){
      flex-direction: column;
      width: 100%;
      background-position-x: center;
      height: 200px;
      text-align: center;
      margin-bottom: 1px;
    }
    // só pra 280 px -- galaxy fold
    @include m280(){
      flex-direction: column;
      width: 180%;
      background-position-x: 20px;
      height: 120px;
      text-align:start;
      margin-bottom: 1px;
    }
    ///////////////////
        &-title{
      
          color: #1c1729;
          font-size: 2rem;
          font-weight: 300 ;
          margin-bottom: 12.5rem;
          @include mobile(){
            margin-bottom: 10rem;
            font-size: 1.5rem;
          }
          }
    &-btn{
     
      text-decoration: none;
       padding: .6rem 2rem ;
       border: 2px solid $BackgroundBlack ;
       color:$BackgroundBlack ;
       font-weight: 400;
       text-transform: uppercase;
       letter-spacing: 1px;
      
       @include mobile(){
       
       
       display: none;
    
        
       }
       &:hover{
        background-color: $BackgroundDarkBlue;
        color: rgb(224, 12, 178);
        transition: .3s; 
       }
       
    
      }
      #a{
        color: red
      }
  &#card-01{
    @include bg-img("carddesign.png");
  }
  &#card-02{
    @include bg-img("cardprogramacao.png");
  }
  &#card-03{
    @include bg-img("cardfinancas.png");
  }
  &#card-04{
    @include bg-img("cardmarketing.png");
  }
  &#card-05{
    @include bg-img("cardfotografia.png");
  }
  &#card-06{
    @include bg-img("cardmusica.png");
  }

    }
}

@media(max-width: 425px){
  // width para imagem do carousel no mobile
  .caixaimagem{
      &-carousel{
        width: 95%;
      }
    }

    .h2principaiscategorias{
      padding: 2rem 0.5rem;
      font-size: 2rem;
      
      }
}
