@import "../Variables/Variables.scss";

.logoMenuAL{
    width: 10em
}

.CorMenuAL{
    box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.575) inset;
    background-image: linear-gradient(-90deg, #201b2c, #2f2f6d);
}

.editMenuALH1{
    color: $GreenColor;  
}
.editMenuALH2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $GreenColor;
}

.testes01{
    color: $GreenColor;
    outline: $GreenColor;
    border: 3px solid $GreenColor;
    width: 50px;
    margin-right: 20px;

}
