.rodape{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.575) inset;
    background-image: linear-gradient(-90deg, #201b2c, #2f2f6d);
    color: #FFFFFF;
    
}
.rodape span{



    position: absolute;
    padding-top: 25vh;

}
.editRodape{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
}
.editRodape:hover{
    text-decoration: underline;
    color: #f0f0f0;
    font-size: 1.2em;
}

.rodapeLogo{
    width: 20%;
}

.rodapeLogo img{
    width: 100%;
    opacity: 25%;
    padding-top: 7%;

}

.rodapeInformacao{
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    width: 50vw;
}

.rodapeInicio{
    width: 150px;
    padding-top: 0.5em;
}

.rodapeSobrenos{
    width: 150px;
    padding-top: 0.5em;
}

.rodapeSuporte{
    width: 150px;
    padding-top: 0.5em;
}

.rodapeSocial{
    display: flex;
    align-items: center;
    font-size: 4vw;
    cursor: pointer;
}

.rodapeicon{
    margin-right: 20px;
}

.rodapeInformacao h3{

    font-size: 1.8em;

}

@media only screen and (max-width: 600px){
    .rodape{
        margin-top: 10px;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rodapeLogo{
        display: none;
    }

    .rodapeInformacao{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rodapeInicio, .rodapeSobrenos, .rodapeInformacao{
        margin-top: 20px;
    }

    .rodapeSocial{
        margin-top: 20px;
        font-size: 40px;
    }
    .rodape span{



        position: absolute;
        padding-top: 40vh;
        padding-left: 30vh;
    }
}





