@import "../Variables/Variables.scss";
@import '../Styles/mixins.scss';

.rodape{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.575) inset;
    background-image: linear-gradient(-90deg, #201b2c, #2f2f6d);
    color: $WhiteColor;

    &-logo{
        width: 20%;

        img{
            width: 100%;
            opacity: 25%;
            padding-top: 7%;
            }

    }
        &-informacao{
            display: flex;
            justify-content: space-around;
            font-size: 0.8em;
            width: 50vw;
                h3{
                    font-size: 1.8em;
                  }
                   }

                &-inicio{
                    width: 150px;
                    padding-top: 0.5em;
                       }

                        &-edit{
                       text-decoration: none;
                       color: $WhiteColor;
                       font-size: 1.2em;
                  &:hover{
                        text-decoration: underline;
                        color: #f0f0f0;
                        font-size: 1.2em;
                         }
                              }

            span{
                position: absolute;
                padding-top: 25vh;
                }
         &-sobrenos{
              width: 150px;
              padding-top: 0.5em;
                   }
           &-suporte{
            width: 150px;
            padding-top: 0.5em;
                    }
        &-social{
            display: flex;
            align-items: center;
            font-size: 4vw;
            cursor: pointer;
               }
        &-icon{
            margin-right: 20px;
            color:$WhiteColor;
                 }
    
}



@media only screen and (max-width: 600px){
   
    .rodape{
        margin-top: 10px;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        &-logo{
            display: none;
    
            img{
                width: 100%;
                opacity: 25%;
                padding-top: 7%;
                }
    
              }

            &-informacao{
                justify-content: center;
                 align-items: center;
                 flex-direction: column;
                    h3{
                        font-size: 1.5rem;
                      }

                       }
    
                    &-inicio{
                        margin-top: 20px;
                           }
    
                            &-edit{
                           text-decoration: none;
                           color: $WhiteColor;
                           font-size: 1.2em;
                      &:hover{
                            text-decoration: underline;
                            color: #f0f0f0;
                            font-size: 1.2em;
                             }
                                  }
    
                span{
                    position: absolute;
                     padding-top: 40vh;
                    padding-left: 30vh;
                    }
             &-sobrenos{
                margin-top: 20px;
                       }
               &-suporte{
                margin-top: 20px;
                        }
            &-social{
                display: flex;
                align-items: center;
                font-size: 8vw;
                cursor: pointer;
                margin-top: 20px;
                   }
            &-icon{
               
                color:$WhiteColor;
                
                  }
        
     }
}





