.geral {
  padding: 0% 0%;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#75276f75), to(rgba(21, 36, 121, 0.849))), url(../img/banner.jpg);
  background-image: linear-gradient(#75276f75, rgba(21, 36, 121, 0.849)), url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header-text-box {
  width: 90%;
  color: #e0e0ee;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header-text-box h1 {
  font-size: 4rem;
}

.header-text-box t {
  color: #00ff88;
}

.header-text-box p {
  margin: 10px 0 40px;
  font-size: 1rem;
  color: #e0e0ee;
}

.header-text-box-botao {
  text-decoration: none;
  display: inline-block;
  color: #e0e0ee;
  border: 1px solid #e0e0ee;
  font-size: 1rem;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.header-text-box-botao:hover {
  border: 1px solid #e91899;
  background-color: #e91899;
  -webkit-transition: 1s;
  transition: 1s;
  color: #e0e0ee;
}

@media (max-width: 700px) {
  .header-text-box h1 {
    font-size: 1.2rem;
  }
  .header-text-box h2 {
    font-size: 1.2rem;
  }
}

#premiun-row {
  background-color: #ebbf31;
}

#padrao-row {
  background-color: #adafb2;
}

#basico-row {
  background-color: #99571a;
}

.plans {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.plans h1 {
  font-size: 2rem;
  font-weight: 600;
}

.plans p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.plans-row {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans-row-plans-col {
  cursor: pointer;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.plans-row-plans-col:hover {
  -webkit-box-shadow: 0 0 20px 0px rgba(54, 54, 165, 0.308);
          box-shadow: 0 0 20px 0px rgba(54, 54, 165, 0.308);
}

.plans-row-plans-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .plans-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#75276f75), to(rgba(21, 36, 121, 0.849))), url(../img/comunidade.jpg);
  background-image: linear-gradient(#75276f75, rgba(21, 36, 121, 0.849)), url(../img/comunidade.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #e0e0ee;
  margin-bottom: 40px;
  padding: 0;
}

.cta a {
  text-decoration: none;
  display: inline-block;
  color: #e0e0ee;
  border: 1px solid #e0e0ee;
  font-size: 1rem;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
  padding: 15px 50px;
}

.cta a:hover {
  border: 1px solid #e91899;
  background-color: #e91899;
  -webkit-transition: 1s;
  transition: 1s;
  color: #e0e0ee;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 1.5rem;
  }
}

.caixaimagem {
  background-image: radial-gradient(circle, #260b57, #28285c);
  padding: 1.5rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 425px) {
  .caixaimagem .carousel {
    width: 100%;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
            filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
    border-radius: 10px;
  }
}

.caixaimagem-carousel {
  width: 75%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
          filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.459));
  border-radius: 10px;
}

.textoprincipaiscategorias {
  text-align: center;
  font-weight: 600;
  padding-top: 100px;
  font-size: 2rem;
}

.gallery {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.11));
          filter: drop-shadow(8px 8px 10px rgba(34, 34, 34, 0.11));
}

.gallery h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 425px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-card {
  width: 30%;
  background-position-x: center;
  margin-bottom: 5%;
}

@media (max-width: 425px) {
  .gallery-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-position-x: center;
    height: 200px;
    text-align: center;
    margin-bottom: 1px;
  }
}

@media (max-width: 280px) {
  .gallery-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 180%;
    background-position-x: 20px;
    height: 120px;
    text-align: start;
    margin-bottom: 1px;
  }
}

.gallery-card-title {
  color: #1c1729;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 12.5rem;
}

@media (max-width: 425px) {
  .gallery-card-title {
    margin-bottom: 10rem;
    font-size: 1.5rem;
  }
}

.gallery-card-btn {
  text-decoration: none;
  padding: .6rem 2rem;
  border: 2px solid #201b2c;
  color: #201b2c;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 425px) {
  .gallery-card-btn {
    display: none;
  }
}

.gallery-card-btn:hover {
  background-color: #28285c;
  color: #e00cb2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery-card #a {
  color: red;
}

.gallery-card#card-01 {
  background-image: url("../img/carddesign.png");
  background-size: 50%;
  background-position-y: 40px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .6s;
  transition: .6s;
}

.gallery-card#card-01:hover {
  background-size: 52.5%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gallery-card#card-02 {
  background-image: url("../img/cardprogramacao.png");
  background-size: 50%;
  background-position-y: 40px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .6s;
  transition: .6s;
}

.gallery-card#card-02:hover {
  background-size: 52.5%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gallery-card#card-03 {
  background-image: url("../img/cardfinancas.png");
  background-size: 50%;
  background-position-y: 40px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .6s;
  transition: .6s;
}

.gallery-card#card-03:hover {
  background-size: 52.5%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gallery-card#card-04 {
  background-image: url("../img/cardmarketing.png");
  background-size: 50%;
  background-position-y: 40px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .6s;
  transition: .6s;
}

.gallery-card#card-04:hover {
  background-size: 52.5%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gallery-card#card-05 {
  background-image: url("../img/cardfotografia.png");
  background-size: 50%;
  background-position-y: 40px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .6s;
  transition: .6s;
}

.gallery-card#card-05:hover {
  background-size: 52.5%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gallery-card#card-06 {
  background-image: url("../img/cardmusica.png");
  background-size: 50%;
  background-position-y: 40px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .6s;
  transition: .6s;
}

.gallery-card#card-06:hover {
  background-size: 52.5%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (max-width: 425px) {
  .caixaimagem-carousel {
    width: 95%;
  }
  .h2principaiscategorias {
    padding: 2rem 0.5rem;
    font-size: 2rem;
  }
}

.semacesso {
  margin-top: -93px;
  width: 100%;
  background-image: radial-gradient(circle, #2d2d86, #28285c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.semacesso-left {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.semacesso-left-texto {
  width: 80%;
  color: white;
}

.semacesso-left-botao {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.semacesso-left-botao #blsemacesso {
  background-color: #e91899;
}

.semacesso-left-botao button {
  width: 10vw;
  padding: 0.5rem 2rem;
  border-radius: 37px;
  border: none;
  font-size: 1.2rem;
}

.semacesso-left-botao button:hover {
  width: 10vw;
  background-color: #e4e4e4;
  padding: 7%;
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.semacesso-right {
  width: 50%;
  text-align: center;
}

.semacesso-right img {
  width: 70%;
}

.semacesso-cadastro {
  padding-top: 4rem;
  text-decoration: none;
  width: 70%;
  margin: 0 auto;
}

.semacesso-cadastro b {
  color: #e91899;
  cursor: pointer;
  text-decoration: none;
}

.semacesso-cadastro button {
  margin-top: 20px;
  letter-spacing: 1px;
  padding: 1.5rem 2em 1.5rem 2em;
  font-size: 2vw;
  border: none;
  border-radius: 20px;
  color: #28285c;
  padding: .8rem 6rem;
  background-color: #e91899;
}

.semacesso-cadastro button:hover {
  background-color: #cfcfe8;
  -webkit-transition: .4s;
  transition: .4s;
  color: #e91899;
  font-size: 2.05rem;
  letter-spacing: 2px;
}

.semacesso .text-link {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 425px) {
  .semacesso {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  .semacesso-left {
    margin-bottom: 1rem;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .semacesso-left-texto {
    width: 100%;
    color: white;
  }
  .semacesso-left-botao {
    margin-top: 20px;
    width: 100%;
  }
  .semacesso-left-botao #blsemacesso {
    background-color: #e91899;
  }
  .semacesso-left-botao button {
    width: 40vw;
    padding: 0.5rem 2rem;
    border-radius: 37px;
    border: none;
    font-size: 1.2rem;
  }
  .semacesso-left-botao button:hover {
    width: 20vw;
    background-color: #e4e4e4;
    padding: 7%;
    font-size: 1.4rem;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .semacesso-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .semacesso-right img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .semacesso-cadastro {
    padding-top: 4rem;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
  }
  .semacesso-cadastro b {
    color: #e91899;
    cursor: pointer;
    text-decoration: none;
  }
  .semacesso-cadastro button {
    margin-top: 20px;
    letter-spacing: 1px;
    padding: 1.5rem 2em 1.5rem 2em;
    font-size: 2vw;
    border: none;
    border-radius: 20px;
    color: #28285c;
    padding: .8rem 2rem;
    background-color: #e91899;
    font-size: 30px;
  }
  .semacesso-cadastro button:hover {
    background-color: #cfcfe8;
    -webkit-transition: .4s;
    transition: .4s;
    color: #e91899;
    font-size: 2.05rem;
    letter-spacing: 2px;
  }
  .semacesso .text-link {
    color: inherit;
    text-decoration: none;
  }
}
/*# sourceMappingURL=SemAcesso.css.map */