@import "../Variables/Variables.scss";

.cursoGeral{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #332c58;
    height: 70vh;
}

/* CSS cursoLeft */

.cursoLeft{
    width: 45%;
}

.nomeCurso{
    text-align: center;
    color: $GreenColor;
}

.imagemCurso{
    width: 40%;
    margin: 0 auto;
    img{
        width: 100%;
    }
}



.boxCurso{
    color: $WhiteColor;
    font-size: 1.2em;
}

.caixaAvaliacaoCurso{
    display: flex;
    justify-content: end;
}

.avaliacaoCursoPositiva{
    color: green;
    margin-right: 20px;
}

.avaliacaoCursoNegativa{
    color: red;
    margin-right: 20px;
}

/* CSS cursoRight */

.cursoRight{
    margin-top: 10px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    overflow-y: auto;
}

.linkAulasCursos{
    width: 75%;
}

.linkAulas{
    text-decoration: none;
    color: #00ff88;
}

.descricaoCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $WhiteColor ;
    h2{ 
        font-size: $h2FontSize ;
    }
   
}