
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;700&family=Lato&display=swap');
body{
    margin: 0;
    background-color: #cfcfe8;
    margin-top: 93px;
    font-family:Lato;
}

